/* .x1 .x2 {
    display: block;
    position: sticky;
    top : 0;
} */
.kertas {
    background-size: 10px 10px;
    background-image: linear-gradient(to left,black 5%,transparent 5%),linear-gradient(to top,black 5%,transparent 5%), linear-gradient(to right,black 5%,transparent 5%), linear-gradient(to bottom,black 5%,transparent 5%);
}